.call {
    height: 100vh;
    background-color: #222222;
    display: flex;
    color: white;

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 40px 48px;

        &__header {
            height: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__profile {
                display: flex;
                align-items: center;

                &__name {
                    margin-left: 8px;
                }
            }
        }

        &__videos {
            flex: 1;
            margin: 0 100px;
            display: flex;
            flex-direction: column;
        }
    }
}